:root {
    --metric-box-spacing: 1rem;
    --color-off-white: rgb(255, 255, 255);
    --metric-radius: 1rem;
    --generic-shadow: 2rem;

    --color-green: rgb(5, 160, 84);
    --color-rosa: rgb(249, 245, 236);
    --color-yellow: rgb(231, 176, 75);
    --color-cinza: rgb(222, 222, 222);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: rgb(220, 233, 233);
}

header {
    background-color: var(--color-off-white);
    text-align: center;
}

header {
    padding: var(--metric-box-spacing);
    background-color: hsl(140deg 70% 95%);
    font-size: 1.4em;
}

header img {
    height: 6rem;
}

main {
    padding: var(--metric-box-spacing);
    min-block-size: calc(100vh - 8em);
}

.hamburguers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: var(--metric-box-spacing);
}

.hamburguer {
    padding: var(--metric-box-spacing);
    background-color: var(--color-off-white);
    border-radius: var(--metric-radius);
    box-shadow: var(--generic-shadow);
}

.hamburguer .header-burguer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

.hamburguer .header-burguer .likes i{
    color: var(--color-cinza);
}

.header-burguer .sales {
    background-color: var(--color-green);
    color: #fff;
    text-align: center;
    border-radius: 16px;
    padding: 4px 14px;  
    z-index: 1;
}

.hamburguer .image-burguer img {
    height: 8rem;
}

.qr-code {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: var(--metric-box-spacing);
}

.qr-code .box {
    padding: var(--metric-box-spacing);
    background-color: var(--color-off-white);
    border-radius: var(--metric-radius);
    box-shadow: var(--generic-shadow);
}

.qr-code .image img {
    height: 22rem;
}