@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Space+Grotesk:wght@400;500;600;700&display=swap');

:root {
    --metric-box-spacing: 1rem;
    --color-off-white: rgb(255, 255, 255);
    --metric-radius: 1rem;
    --generic-shadow: 2rem;

    --color-green: rgb(5, 160, 84);
    --color-rosa: rgb(249, 245, 236);
    --color-yellow-star: rgb(231, 176, 75);
    --color-yellow-sale: rgb(255, 191, 31);
    --color-cinza: rgb(222, 222, 222);
    --color-laranja-logo: rgb(228, 87, 41);
    --color-yellow-logo: rgb(255, 191, 31);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: rgb(220, 233, 233);
}

header {
    background-color: var(--color-off-white);
    text-align: center;
}

header {
    padding: var(--metric-box-spacing);
    background-color: hsl(140deg 70% 95%);
    font-size: 1.4em;
}

header .header-logo {
    display: flex;
}

header .header-logo img {
    height: 6rem;
}

header .header-logo .logo-name {
    margin-top: 8px;
    margin-left: 12px;
    text-align: left;
    font-family: Indie Flower, sans-serif;
}

header .header-logo .logo-name :nth-child(1) {
    font-size: 34px;
    color: var(--color-laranja-logo);
}

header .header-logo .logo-name :nth-child(3) {
    font-size: 36px;
    color: var(--color-yellow-logo);
}

main {
    padding: var(--metric-box-spacing);
    min-block-size: calc(100vh - 8em);
}

.hamburguers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: var(--metric-box-spacing);
}

.hamburguer {
    padding: var(--metric-box-spacing);
    background-color: var(--color-off-white);
    border-radius: var(--metric-radius);
    border: 1.5px solid rgb(196, 192, 192);
    box-shadow: var(--generic-shadow);
}

.hamburguer .header-burguer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

.hamburguer .header-burguer .likes i {
    color: var(--color-cinza);
}

.hamburguer .header-burguer .sales {
    background-color: var(--color-green);
    color: #fff;
    text-align: center;
    border-radius: 16px;
    padding: 4px 14px;
    z-index: 1;
    font-weight: bold;
}

.hamburguer .header-burguer .sales.sale {
    background-color: var(--color-yellow-sale);
}

.hamburguer .image-burguer {
    position: relative;
    margin-bottom: 38px;
    display: flex;
    justify-content: center;
}

.hamburguer .image-burguer .image-hamburger-1 {
    background-image: url("./images/hamburguer-1.jpg");
    background-size: contain;
    /* cover contain auto */
    background-position: center center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 3;
}

.hamburguer .image-burguer .image-hamburger-2 {
    background-image: url("./images/hamburguer-2.jpg");
    background-size: contain;
    /* cover contain auto */
    background-position: center center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 3;
}

.hamburguer .image-burguer .image-hamburger-3 {
    background-image: url("./images/hamburguer-3.jpg");
    background-size: contain;
    /* cover contain auto */
    background-position: center center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 3;
}

.hamburguer .image-burguer .image-hamburger-4 {
    background-image: url("./images/hamburguer-4.jpg");
    background-size: contain;
    /* cover contain auto */
    background-position: center center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 3;
}

.hamburguer .image-burguer .image-hamburger-5 {
    background-image: url("./images/hamburguer-5.jpg");
    background-size: contain;
    /* cover contain auto */
    background-position: center center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 3;
}

.hamburguer .image-burguer .image-hamburger-6 {
    background-image: url("./images/hamburguer-6.jpg");
    background-size: contain;
    /* cover contain auto */
    background-position: center center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 3;
}

.hamburguer .image-burguer .retangular {
    background-color: var(--color-rosa);
    width: 100%;
    height: 120px;
    position: absolute;
    z-index: 2;
    top: 50%;
    border-radius: 14px;
}

.hamburguer .infos-burguer {
    margin-bottom: 16px;
}

.hamburguer .infos-burguer .infos-header  {
    display: block;
}

.rate {
    float: left;
    height: 36px;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}

.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.hamburguer .infos-burguer .infos-header .title {
    font-size: 20px;
    font-weight: bold;
    margin-block: 7px;
    font-family: Indie Flower, sans-serif;
}

.hamburguer .infos-burguer .infos-description {
    font-family: Space Grotesk, sans-serif;
}

.hamburguer .footer-burguer {
    display: flex;
    justify-content: space-between;
}

.hamburguer .footer-burguer .price {
    color: var(--color-yellow-star);
    font-size: 21px;
    font-weight: 700;
}

.hamburguer .footer-burguer .functions span {
    padding: 10px 14px;
    background-color: var(--color-yellow-star);
    margin: 1px;
    color: #000000;
    border-radius: 8px;
}

.qr-code {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: var(--metric-box-spacing);
}

.qr-code .box {
    margin: 0 auto;
    padding: 18px;
    background-color: var(--color-off-white);
    border-radius: var(--metric-radius);
    box-shadow: var(--generic-shadow);
}

.qr-code .image {
    margin-bottom: 12px;
}

.qr-code .image img {
    height: 22rem;
}

.qr-code .infos h3,
.qr-code .infos h4 {
    font-size: 20px;
    color: var(--color-yellow-star);
    margin-bottom: 10px;
}

.qr-code .infos h3 {
    font-family: Indie Flower, sans-serif;
}

.qr-code .infos p {
    font-family: Space Grotesk, sans-serif;
}